In [ ]:
후보키
프렌즈대학교 컴퓨터공학과 조교인 제이지는 네오 학과장님의 지시로, 학생들의 인적사항을 정리하는 업무를 담당하게 되었다.

그의 학부 시절 프로그래밍 경험을 되살려, 모든 인적사항을 데이터베이스에 넣기로 하였고, 이를 위해 정리를 하던 중에 후보키(Candidate Key)에 대한 고민이 필요하게 되었다.

후보키에 대한 내용이 잘 기억나지 않던 제이지는, 정확한 내용을 파악하기 위해 데이터베이스 관련 서적을 확인하여 아래와 같은 내용을 확인하였다.

관계 데이터베이스에서 릴레이션(Relation)의 튜플(Tuple)을 유일하게 식별할 수 있는 속성(Attribute) 또는 속성의 집합 중, 다음 두 성질을 만족하는 것을 후보 키(Candidate Key)라고 한다.
유일성(uniqueness) : 릴레이션에 있는 모든 튜플에 대해 유일하게 식별되어야 한다.
최소성(minimality) : 유일성을 가진 키를 구성하는 속성(Attribute) 중 하나라도 제외하는 경우 유일성이 깨지는 것을 의미한다. 즉, 릴레이션의 모든 튜플을 유일하게 식별하는 데 꼭 필요한 속성들로만 구성되어야 한다.
제이지를 위해, 아래와 같은 학생들의 인적사항이 주어졌을 때, 후보 키의 최대 개수를 구하라.

cand_key1.png

위의 예를 설명하면, 학생의 인적사항 릴레이션에서 모든 학생은 각자 유일한 학번을 가지고 있다. 따라서 학번은 릴레이션의 후보 키가 될 수 있다.
그다음 이름에 대해서는 같은 이름(apeach)을 사용하는 학생이 있기 때문에, 이름은 후보 키가 될 수 없다. 그러나, 만약 [이름, 전공]을 함께 사용한다면 릴레이션의 모든 튜플을 유일하게 식별 가능하므로 후보 키가 될 수 있게 된다.
물론 [이름, 전공, 학년]을 함께 사용해도 릴레이션의 모든 튜플을 유일하게 식별할 수 있지만, 최소성을 만족하지 못하기 때문에 후보 키가 될 수 없다.
따라서, 위의 학생 인적사항의 후보키는 학번, [이름, 전공] 두 개가 된다.

릴레이션을 나타내는 문자열 배열 relation이 매개변수로 주어질 때, 이 릴레이션에서 후보 키의 개수를 return 하도록 solution 함수를 완성하라.

제한사항
relation은 2차원 문자열 배열이다.
relation의 컬럼(column)의 길이는 1 이상 8 이하이며, 각각의 컬럼은 릴레이션의 속성을 나타낸다.
relation의 로우(row)의 길이는 1 이상 20 이하이며, 각각의 로우는 릴레이션의 튜플을 나타낸다.
relation의 모든 문자열의 길이는 1 이상 8 이하이며, 알파벳 소문자와 숫자로만 이루어져 있다.
relation의 모든 튜플은 유일하게 식별 가능하다.(즉, 중복되는 튜플은 없다.)
입출력 예
relation	result
[[100,ryan,music,2],[200,apeach,math,2],[300,tube,computer,3],[400,con,computer,4],[500,muzi,music,3],[600,apeach,music,2]]	2
입출력 예 설명
입출력 예 #1
문제에 주어진 릴레이션과 같으며, 후보 키는 2개이다.

In [ ]:
# 후보 키의 최대 개수를 구하라.

# 최대가 1개일때

In [ ]:
# 바로위의 예제의 경우는 이렇게 가능했다.

In [87]:
def solution(relation):
    col_num = len(relation[0])
    row_num = len(relation)
    
    # 1. 후보키가 한개의 속성으로 이루이지는지 검사.
    
    # 각각의 col을 각 list에 더한후 중복 제거한 것의 길이가 row_num과 같으면
    # 그 row는 그것만으로 후보키가 될 수 있음.
    
    is_condidate_with_one = []
    duplicated_list_by_col = [] # col 단위로 리스트를 일단 여기 저장 하겠슴.
    for j in range(0, col_num):
        
        result_list = []
        for i in range(0,row_num):
            result_list.append(relation[i][j])
        
        duplicated_list_by_col.append(result_list)
        if len(list(set(result_list))) ==row_num:
            is_condidate_with_one.append(j)
    
    
    
    
    # 2. 후보키가 두개의 속성으로 이루어 지는지 검사.
    # duplicated_list_by_col 에 저장된 col들을 돌면서 
    # 2개씩 짝지어서 세로운 리스트 들을 만든다. 이것이 중복되는것이 없다면 
    # 6개 6개로된 2개의 col_list가 짝을 짓는다면 
    
    # 일단 위에서 is_condidate_with_one 에 해당하는 row는 빼버리자.
    # 그것만으로 구분 가능하기 때문에 최소성에 위반됨.
    

    for index in is_condidate_with_one:
        duplicated_list_by_col.pop(index)
        
    # 그런 col이 한개 이하라면? ---->아래 이하를 할 필요가 없다. 바로 리턴 하면 될듯.
    if len(duplicated_list_by_col) <=1:
        return len(duplicated_list_by_col)
    
    # 그런 col이 2개 이상인 경우.
    is_condidate_with_two = []
    duplicated_list_by_col2 = [] 
    for i in range(0,len(duplicated_list_by_col)-1):
        for j in range(i+1,len(duplicated_list_by_col)):
            
            result_list = []
            for k in range(0,row_num):
                result_list.append((duplicated_list_by_col[i][k],duplicated_list_by_col[j][k]))
            print(result_list)
            if len(list(set(result_list))) ==row_num:
                is_condidate_with_two.append((i,j))
    
        
    
    
    answer = 0
#     return is_condidate_with_two
    
    return len(is_condidate_with_two) + len(is_condidate_with_one)

In [88]:
relation = [["100", "ryan", "music", "2"], ["200", "apeach", "math", "2"], ["300", "tube", "computer", "3"], ["400", "con", "computer", "4"], ["500", "muzi", "music", "3"], ["600", "apeach", "music", "2"]]

In [89]:
solution(relation)

[('ryan', 'music'), ('apeach', 'math'), ('tube', 'computer'), ('con', 'computer'), ('muzi', 'music'), ('apeach', 'music')]
[('ryan', '2'), ('apeach', '2'), ('tube', '3'), ('con', '4'), ('muzi', '3'), ('apeach', '2')]
[('music', '2'), ('math', '2'), ('computer', '3'), ('computer', '4'), ('music', '3'), ('music', '2')]

2

In [ ]:
#바로 위 말고 일반적인 경우 1x1부터  8x 20인 경우에 대해서.

# 위와 다르게 아예 다른 식으로 접근해야 될것 같다.
# 아예 Candidate Key 에 대한 정보를 찾아보고 어떻게 구하는지 알고해보자. 
# 뭔가 튜플 단위로 생각해야 할 것 같다.

In [96]:
def solution(relation):
    col_num = len(relation[0]) # 1~col_num
    row_num = len(relation) # 이것과 경우가 같은지 봐서 식별.
    
    tuple_string_list = [] 
    for row in relation:
        
        result = ""
        for i in row:
            result+= i
        tuple_string_list.append(result)
        

    is_condidate = []
    
    for i in range(0,row_num):
        
        for j in range(0,col_num):
            # 학번,이름, 전공, 학년 으로 각각 정보를 뽑아내 봐서 길이가 row_num 보다 작으면 제외.
            if relation[i][j] in tuple_string_list[i]:
                
            
            relation
            
            
            
            
            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
#     # 1. 후보키가 한개의 속성으로 이루이지는지 검사.
    
#     # 각각의 col을 각 list에 더한후 중복 제거한 것의 길이가 row_num과 같으면
#     # 그 row는 그것만으로 후보키가 될 수 있음.
    
#     is_condidate_with_one = []
#     duplicated_list_by_col = [] # col 단위로 리스트를 일단 여기 저장 하겠슴.
#     for j in range(0, col_num):
        
#         result_list = []
#         for i in range(0,row_num):
#             result_list.append(relation[i][j])
        
#         duplicated_list_by_col.append(result_list)
#         if len(list(set(result_list))) ==row_num:
#             is_condidate_with_one.append(j)
    
    
    
    
#     # 2. 후보키가 두개의 속성으로 이루어 지는지 검사.
#     # duplicated_list_by_col 에 저장된 col들을 돌면서 
#     # 2개씩 짝지어서 세로운 리스트 들을 만든다. 이것이 중복되는것이 없다면 
#     # 6개 6개로된 2개의 col_list가 짝을 짓는다면 
    
#     # 일단 위에서 is_condidate_with_one 에 해당하는 row는 빼버리자.
#     # 그것만으로 구분 가능하기 때문에 최소성에 위반됨.
    

#     for index in is_condidate_with_one:
#         duplicated_list_by_col.pop(index)
        
#     # 그런 col이 한개 이하라면? ---->아래 이하를 할 필요가 없다. 바로 리턴 하면 될듯.
#     if len(duplicated_list_by_col) <=1:
#         return len(duplicated_list_by_col)
    
#     # 그런 col이 2개 이상인 경우.
#     is_condidate_with_two = []
#     duplicated_list_by_col2 = [] 
#     for i in range(0,len(duplicated_list_by_col)-1):
#         for j in range(i+1,len(duplicated_list_by_col)):
            
#             result_list = []
#             for k in range(0,row_num):
#                 result_list.append((duplicated_list_by_col[i][k],duplicated_list_by_col[j][k]))
#             print(result_list)
#             if len(list(set(result_list))) ==row_num:
#                 is_condidate_with_two.append((i,j))
    
        
    
    
#     answer = 0
# #     return is_condidate_with_two
    
#     return len(is_condidate_with_two) + len(is_condidate_with_one)

In [97]:
relation = [["100", "ryan", "music", "2"], ["200", "apeach", "math", "2"], ["300", "tube", "computer", "3"], ["400", "con", "computer", "4"], ["500", "muzi", "music", "3"], ["600", "apeach", "music", "2"]]

In [98]:
solution(relation)

['100ryanmusic2',
 '200apeachmath2',
 '300tubecomputer3',
 '400concomputer4',
 '500muzimusic3',
 '600apeachmusic2']

In [100]:
if "100" in "100ryanmusic2":
    print("2")

2